.mt-20{
	margin-top: 20px;
}
.mr-2{
	margin-right: 2px;
}
.feature-img{
	max-width: 200px;
}
a.nav-link.active {
    margin-top: 17px;
    margin-right: 6px;
}
.container-fluid {
    margin-left: 84px!important;
    margin-right: 84px!important;
}